<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioOrdenesCompra">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPedidos">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioProductos">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRecetas">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioUsuarios">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/ItaliaPizza_Contratos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioOrdenesCompra"
                contract="ServicioItaliaPizza.IServicioOrdenesCompra" name="NetTcpBinding_IServicioOrdenesCompra" />
            <endpoint address="net.tcp://localhost:8081/ItaliaPizza_Contratos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPedidos"
                contract="ServicioItaliaPizza.IServicioPedidos" name="NetTcpBinding_IServicioPedidos" />
            <endpoint address="net.tcp://localhost:8081/ItaliaPizza_Contratos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioProductos"
                contract="ServicioItaliaPizza.IServicioProductos" name="NetTcpBinding_IServicioProductos" />
            <endpoint address="net.tcp://localhost:8081/ItaliaPizza_Contratos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioRecetas"
                contract="ServicioItaliaPizza.IServicioRecetas" name="NetTcpBinding_IServicioRecetas" />
            <endpoint address="net.tcp://localhost:8081/ItaliaPizza_Contratos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioUsuarios"
                contract="ServicioItaliaPizza.IServicioUsuarios" name="NetTcpBinding_IServicioUsuarios" />
        </client>
    </system.serviceModel>
</configuration>